<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find car_description)/urdf/car_description.urdf" />
  <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
  <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />

</launch>
